.current-s{
    background-color: #f3f2f3;
}
.f-wrap{
    flex-wrap: wrap;
}

.card-cs{
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex:1;
}

.num{
    font-size: 100px;
    color: #8DC73F;
    font-family: 'Barlow Condensed', sans-serif;
}

.font-48-cs{
    font-size: 48px;
    color: #8DC73F;
}