.hero1{
    top: 0;
    background-image: url(img0.png), url(imgl.jpg) !important;
    /* background-image: url(img0.png) !important; */
    background-size: 50%, cover;
    background-position: left bottom, center;
    background-repeat: no-repeat, no-repeat;
    filter: blur(4px), blur(3px);
    filter: blur(4px);
  -webkit-filter: blur(4px);
    z-index: -1;
    opacity: 0.5, 1;
    position: absolute;

    /* z-index: 20; */
    height: 100vh;
    width: 100%;
    font-size: x-large;
}


.xyz {
    /* background-color: #000; */
    overflow: hidden;
    left: -50px;
    /* right: 100%; */
    /* margin: 175px auto; */
}

/* div {
    margin: 175px auto;
} */

.drop {
    margin-right:5px ;
    position: relative;
    width: 40px;
    height: 40px;
    filter: blur(2px);
    top: -60px;
    /* margin: 0 auto; */
    background: rgba(255, 0, 0, 1);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -webkit-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.drop:before {
    filter: blur(2px);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 60px solid rgba(255, 0, 0, 1);
    top: -44px;
}

.wave {
    margin-right: 425px;
    margin-top: 175px;
    position: relative;
    opacity: 0;
    top: 0;
    width: 4px;
    height: 2px;
    border: #F00 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -10px;
    left: -10px;
    width: 4px;
    height: 2px;
    border: #F00 5px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        width: 1000px;
        height: 500px;
        border-width: 1px;
        top: -20px;
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: 500px;
        left: 220px;
    }
}

@keyframes drip {
    to {
        top: 800px;
    }
}


