.container23 .content {
    /* position: absolute; */

    transform: translate(-50%, -50%);
    text-align: center;
    font-family: poppins;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 85px;
    /* margin: 0; */
    -webkit-text-stroke: 2px white;
    /* line-height: 85px; */
}

.container23 {
    /* position: absolute; */
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    margin-bottom: 100px;

}


.testim-head::after {
    content: '';
    /* display: block; */
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    border: 5px solid rgb(7, 138, 237);
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    filter: drop-shadow(0 -8px 20px rgb(114, 217, 240));
}

.testim {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background: transparent;
    box-sizing: border-box;
}

.testim h1 {
    font-size: 4em;
    color: #0ec1f2;
    font-weight: 600;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    /* -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell,*/
    /* margin-top: 750px; */
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
    text-shadow: 0 1px 3px rgb(3, 114, 249);
}